/* Normal, standard links. */
a:link
{
	color: #000000;
	text-decoration: underline;
}
a:visited, a:hover
{
	color: #323232;
	text-decoration: underline;
}

/* Navigation links - for the link tree. */
.nav, .nav:link, .nav:visited
{
	color: #000000;
	text-decoration: none;
}
a.nav:hover
{
	font-weight: bold;
	color: #cc3333;
	text-decoration: underline;
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
}

/* By default (td, body..) use Tahoma in black. */
body, td, th
{
	color: #000000;
	font-size: small;
	font-family: tahoma, sans-serif;
}

/* The main body of the entire forum. */
body
{
	background-color: white;
	margin: 0px;
	padding: 0px;
}

/* Input boxes - just a bit smaller than normal so they align well. */
input, textarea, button
{
	font-size: 9pt;
	color: #000000;
	font-family: tahoma, sans-serif;
}

/* All input elements that are checkboxes or radio buttons. */
input.check
{
}

/* Selects are a bit smaller, because it makes them look even better 8). */
select
{
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	font-family: tahoma, sans-serif;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
	height: 1px;
	border: 0;
	color: #666666;
	background-color: #666666;
}

/* A quote, perhaps from another post. */
blockquote
{
	color: #000000;
	background-color: #C3B8D0;
	display: block;
	border: 1px solid #000000;
	margin: 1px;
	padding: 1px;
	font-size: x-small;
	line-height: 1.4em;
}

/* A code block - maybe even PHP ;). */
code
{
	color: #000000;
	background-color: #cccccc;
	font-family: "courier new", "times new roman", monospace;
	font-size: x-small;
	line-height: 1.3em;
	/* Put a nice border around it. */
	border: 1px solid #000000;
	margin: 1px auto 1px auto;
	padding: 1px;
	width: 99%;
	/* Don't wrap its contents, and show scrollbars. */
	white-space: pre;
	overflow: auto;
	/* Stop after about 24 lines, and just show a scrollbar. */
	max-height: 24em;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: x-small;
	line-height: 1.2em;
}

/* For links to change the code stuff... */
.codeoperation
{
	font-weight: normal;
}

/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
	cursor: help;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
	color: red;
}

/* The main post box - this makes it as wide as possible. */
.editor
{
	width: 96%;
}

/* Highlighted text - such as search results. */
.highlight
{
	background-color: yellow;
	font-weight: bold;
	color: black;
}

/* A more discreet highlight colour, for selected membergroups etc. */
.highlight2
{
	background-color: #B3F4B0;
	color: black;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg
{
	color: #000000;
	background-color: #E1E1E1;
}
.windowbg2
{
	color: #000000;
	background-color: #F0F0F0;
}

/* Color for background of posts requiring approval */
.approvebg
{
	color: #000000;
	background-color: #F6E0D4;
}
/* Color for background of *topics* requiring approval */
.approvetbg
{
	color: #000000;
	background-color: #E4A17C;
}

/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg a:link, .titlebg a:visited, .titlebg2, tr.titlebg2 th, tr.titlebg2 td, .titlebg2 a:link, .titlebg2 a:visited
{
	color: white;
	font-style: normal;
	background-color: #6B8EAE;
}
.titlebg a:hover, .titlebg2 a:hover
{
	color: #dfdfdf;
}

/* This is used for categories, page indexes, and several other areas in the forum. */
.catbg, .catbg3
{
	background-image: url(images/catbg.jpg);
}

/* This is used for a category that has new posts in it... to make it light up. */
.catbg2
{
	background-image: url(images/catbg2.jpg);
}

.catbg, .catbg2, .catbg3
{
	font-weight: bold;
	background-color: silver;
	color: #000000;
}

/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
	background-color: #828181;
}

/* This is used on tables that should just have a border around them. */
.tborder
{
	border: 1px solid #828181;
	background-color: #FFFFFF;
	padding: 2px;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
	font-size: x-small;
	font-family: tahoma, sans-serif;
}
.normaltext
{
	font-size: small;
}
.largetext
{
	font-size: large;
}

/* This is the white header area where the title, menu bars, and header boxes are. */
#headerarea
{
	background-color: white;
	border-bottom: 1px solid gray;
}
/* This is the main area of the forum, the part that's gray. */
#bodyarea
{
	background-color: #D4D4D4;
}
/* And this is the bottom, where the copyright is, etc. */
#footerarea
{
	color: black;
	background-color: white;
	border-top: 1px solid gray;
}

/* This is for the special header boxes on the top (user info, key stats, news box.) */
.headertitles
{
	background-color: #6B8EAE;
	border: 1px solid #6B8EAE;
	height: 12px;
}
.headerbodies
{
	border: 1px solid #7A7777;
	background-color: #EFEFEF;
	background-repeat: repeat-x;
	background-position: bottom;
}

/* Posts and personal messages displayed throughout the forum. */
.post, .personalmessage
{
	width: 100%;
	overflow: auto;
	line-height: 1.3em;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
	width: 100%;
	overflow: auto;
	padding-bottom: 3px;
	line-height: 1.3em;
}
/* No image should have a border when linked */
a img{
	border: 0;
}

/* Calendar colours for birthdays, events and holidays */
.birthday
{
	color: #920AC4;
}

.event
{
	color: #078907;
}

.holiday
{
	color: #000080;
}

/* Colours for warnings */
.warn_mute
{
	color: red;
}

.warn_moderate
{
	color: orange;
}

.warn_watch
{
	color: green;
}

/* The AJAX notifier */
#ajax_in_progress
{
	background: #32CD32;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
	padding: 3px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

/* Styling for BBC tags */
.bbc_color a
{
	color: inherit;
}

.bbc_img
{
	border: 0;
}

.bbc_list
{
	margin-top: 0;
	margin-bottom: 0;
}

.bbc_size
{
	line-height: 1.3em;
}

.bbc_table
{
	font: inherit;
	color: inherit;
}

.bbc_table td
{
	font: inherit;
	color: inherit;
	vertical-align: top;
}

.bbc_u
{
	text-decoration: underline;
}
/* styling the admin section */
ol.search_results
{
	margin-top: 0;
	padding-top: 0;
}
ol.search_results li
{
	padding-top: 5px;
}

.button_strip_submit
{
	background: transparent;
	color: white;
	text-transform: uppercase;
	vertical-align: top;
	text-decoration: none;
	font-size: 9px;
	font-family: tahoma, sans-serif;
	border: 0;
}

.button_strip_submit:hover
{
	color: #e0e0ff;
}

.openid_login
{
	background: white url(images/openid.gif) no-repeat;
	padding-left: 18px;
}

/* new features settings screen */
.features
{
	clear: both;
	border-bottom: solid 1px #e0e0e0;
}
.features_image
{
	float: left;
	margin: 1em 2em 0.5em 1em;
}
.features_switch
{
	margin: 0.2em 1em 1em 1em;
	float: right;
}
.features h4
{
	padding: 2em 0 0.5em 0.5em;
	margin: 0;
	font-size: 1.1em;
}
.features p
{
	padding: 0 1em 1em 1em;
	margin: 0;
}

a.moderation_link, a.moderation_link:visited
{
	color: red;
	font-weight: bold;
}

/* These are for the auto suggest floating div type thing. */
.auto_suggest_div
{
	border: 1px solid black;
	position: absolute;
}

/* An auto suggest item */
.auto_suggest_item
{
	background-color: #DDDDDD;
}

/* hovered auto suggest item */
.auto_suggest_item_hover
{
	background-color: #888888;
	cursor: pointer;
	color: #EEEEEE;
}