<form style="margin-top: 0px;" action="<{$xoops_url}>/modules/smf/index.php?action=login2" method="post" name="frmLogin" id="frmLogin">
    <{$block.lang_username}><br />
    <input type="text" name="user" size="12" value="<{$block.unamevalue}>" maxlength="25" /><br />
    <{$block.lang_password}><br />
    <input type="password" name="passwrd" size="12" maxlength="32" /><br />
	<b>Always stay logged in:</b><br />
	<input type="checkbox" name="cookieneverexp" class="check" />
    <!-- <input type="checkbox" name="rememberme" value="On" class ="formButton" /><{$block.lang_rememberme}><br /> //-->
    <input type="hidden" name="xoops_redirect" value="<{$xoops_requesturi}>" />
    <input type="hidden" name="op" value="login" />
    <input type="submit" value="<{$block.lang_login}>" /><br />
</form>
<a href="<{$xoops_url}>/modules/smf/index.php?action=reminder"><{$block.lang_lostpass}></a>
<br /><br />
<a href="<{$xoops_url}>/modules/smf/index.php?action=register"><{$block.lang_registernow}></a>