/* styling the admin section */
ol.search_results
{
	margin-top: 0;
	padding-top: 0;
}
ol.search_results li
{
	padding-top: 5px;
}

/* new features settings screen */
.features
{
	border-bottom: solid 1px #e0e0e0;
	overflow: hidden;
}
.features_image
{
	float: left;
	margin: 0.5em 2em 0.5em 1em;
}
.features_switch
{
	margin: 0.2em 1em 1em 1em;
	float: right;
}
.features h4
{
	padding: 2em 0 0.5em 0.5em;
	margin: 0;
	font-size: 1.1em;
}
.features p
{
	padding: 0 1em 1em 1em;
	margin: 0;
}

/* admin home */
.home_image
{
	float: left;
	margin: 0 1em 1em 1em;
}
h3.titlebg
{
	padding-left: 0;
}
h3.titlebg form
{
	font-size: 80%;
}
.windowbg.nopadding
{
	margin: 0;
	padding: 0;
}
.windowbg ol
{
	margin-top: 0;
	margin-bottom: 0;
}
.content
{
	padding: 0 0.5em;
}

/* common admin classes */
.table_caption, tr.table_caption td
{
	color:black;
	font-size:10px;
	font-weight:bold;
}
.additional_row input
{
	margin-left: 2em;
}
/* ************************************* */
/* only for backward compability   */
/* ************************************* */
/*this one is for Backward compatibility with older templates*/
td.windowbg, td.windowbg2
{
	padding-left: 1em;
	padding-right: 1em;
}
/* remove the lower gap from some old templates */
form
{
	padding-bottom: 0.5em;
}