/* styling the admin section */
ol.search_results
{
	margin-top: 0;
	padding-top: 0;
}
ol.search_results li
{
	padding-top: 5px;
}
#admincenter, #manage_mail, #manage_attachments, #manage_maintenance, #manage_boards
{
	float: left;
	width: 100%;
}
/* new features settings screen */
.features
{
	border-bottom: solid 1px #e0e0e0;
	overflow: hidden;
}
.features_image
{
	float: left;
	margin: 0.5em 2em 0.5em 1em;
}
.features_switch
{
	margin: 0.2em 1em 1em 1em;
	float: right;
}
.features h4
{
	padding: 2em 0 0.5em 0.5em;
	margin: 0;
	font-size: 1.1em;
}
.features p
{
	padding: 0 1em 1em 1em;
	margin: 0;
}
/* admin home */
#taskpad
{
	position: relative;
	top: -27px;
	right: 5px;
}
#admin_main_section
{
	overflow: hidden;
	padding-top: 0.5em;
}
#live_news
{
	width: 64%;
	font-size: 0.85em;
}
#supportVersionsTable
{
	width: 34%;
}
#version_details
{
	overflow: auto;
	height: 100px;
}
#smfAnnouncements
{
	height: 100px; 
	overflow: auto;
}
#quick_tasks, #quick_tasks ul
{
	margin: 0;
	padding: 0;
}
#quick_tasks li
{
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0.5em 0;
	width: 50%;
	height: 4.5em;
}
.quick_task
{
	display: block;
	width: 100%;
	margin: 0 1em;
	padding: 0;
}
.home_image
{
	float: left;
	margin: 0 1em 1em 1em;
}
hr.hrcolor
{
	margin: 10px 0;
}
h3.titlebg
{
	padding: 0;
	margin: 0 0 3px 0;
	width: 100%;
}
h3.titlebg form
{
	font-size: 80%;
}
.windowbg.nopadding
{
	margin: 0;
	padding: 0;
}
.windowbg ol
{
	margin-top: 0;
	margin-bottom: 0;
}

/* common admin classes */
.table_caption, tr.table_caption td
{
	color: black;
	font-size: 10px;
	font-weight: bold;
}
.additional_row input
{
	margin-left: 2em;
}
fieldset
{
	margin-bottom: 0.5em;
	border: 1px solid #cacdd3;
	padding: 0.5em;
}
legend
{
	font-weight: bold;
}
/*ManageBoards*/
#manage_boards ul
{
	padding: 0;
	margin: 0 0 0.6em 0;
}
#manage_boards li
{
	list-style-type: none;
	border: 1px solid #cacdd3;
	padding: 0.2em;
	margin: 1px;
}
#manage_boards li img
{
	vertical-align: middle;
	padding-bottom: 3px;
}
#manage_boards li#recycle_board 
{
	background-color: #dee;
}
.move_links
{
	padding: 0 13px 0 0;
}
/* ManageMaintenance */
.maintenance_finished, #task_completed
{
	margin: 1ex; 
	padding: 1ex 2ex; 
	border: 1px dashed green; 
	color: green;
	background: #efe;
}
/*Manage Calendar */
dl.settings dt.small_caption
{
	width: 20%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	clear: both;
}
dl.settings dd.small_caption
{
	width: 79%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	*float: none;
	*width: auto;
}
/* ************************************* */
/* only for backward compability   */
/* ************************************* */
/*this one is for Backward compatibility with older templates*/
td.windowbg, td.windowbg2
{
	padding-left: 1em;
	padding-right: 1em;
}
/* remove the lower gap from some old templates */
#admin_content
{
	padding-bottom: 0.5em;
}