/* styling the admin section */
ol.search_results
{
	margin-top: 0;
	padding-top: 0;
}
ol.search_results li
{
	padding-top: 5px;
}
#admincenter, #manage_mail, #manage_attachments, #manage_maintenance, #manage_boards, #manage_bans
{
	float: left;
	width: 100%;
}
/* new features settings screen */
.features
{
	overflow: hidden;
}
.features_image
{
	float: left;
	margin: 0.5em 2em 0.5em 1em;
}
.features_switch
{
	margin: 0.2em 1em 1em 1em;
	float: right;
}
.features h4
{
	padding: 2em 0 0.5em 0.5em;
	margin: 0;
	font-size: 1.1em;
}
.features p
{
	padding: 0 1em 1em 1em;
	margin: 0;
}
/* admin home */
div.titlebg
{
	overflow: hidden;
	height: 31px;
	line-height: 31px;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.4em;
}
div.titlebg span.left,div.titlebg span.right
{
	display: block;
	width: 9px;
	height: 31px;
}
div.titlebg span.left
{
	float: left;
	background: url(../images/theme/caps.png) no-repeat 0 -40px;
}
div.titlebg span.right
{
	float: right;
	background: url(../images/theme/caps.png) no-repeat 100% -40px;
}
div.titlebg img.icon
{
	float: left;
	margin: 5px 8px 0 0;
}
#quick_search
{
	height: 31px;
	margin-top: 2px;
}
#admin_main_section
{
	overflow: hidden;
	padding-top: 0.5em;
}
#live_news
{
	width: 64%;
	font-size: 0.85em;
}
#supportVersionsTable
{
	width: 34%;
}
#version_details
{
	overflow: auto;
	height: 120px;
}
#smfAnnouncements
{
	height: 120px; 
	overflow: auto;
}
#smfAnnouncements dt
{
	border-bottom: 1px dashed #000;
}
#smfAnnouncements dd
{
	padding: 0;
	margin: 0 0 1em 1.5em;
}

#quick_tasks, #quick_tasks ul
{
	margin: 0;
	padding: 0;
}
#quick_tasks li
{
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0.5em 0;
	width: 50%;
	height: 4.5em;
}
.quick_task
{
	display: block;
	width: 100%;
	margin: 0 1em;
	padding: 0;
}
.home_image
{
	float: left;
	margin: 0 1em 1em 1em;
}
hr.hrcolor
{
	margin: 10px 0;
}
h3.titlebg
{
	padding: 0;
	margin: 0 0 3px 0;
	width: 100%;
}
h3.titlebg form
{
	font-size: 80%;
}
.windowbg.nopadding
{
	margin: 0;
	padding: 0;
}
.windowbg ol
{
	margin-top: 0;
	margin-bottom: 0;
}

/* common admin classes */
.table_caption, tr.table_caption td
{
	color: black;
	font-size: 10px;
	font-weight: bold;
}
.additional_row input
{
	margin-left: 2em;
}
fieldset
{
	margin-bottom: 0.5em;
	border: 1px solid #cacdd3;
	padding: 0.5em;
}
fieldset dl
{
	margin: 0;
}
legend
{
	font-weight: bold;
	color: black;
}
.information a
{
	font-weight: bold;
}
/*ManageBoards*/
#manage_boards ul
{
	padding: 0;
	margin: 0 0 0.6em 0;
}
#manage_boards li
{
	list-style-type: none;
	border: 1px solid #cacdd3;
	padding: 0.2em;
	margin: 1px;
}
#manage_boards li img
{
	vertical-align: middle;
	padding-bottom: 3px;
}
#manage_boards li#recycle_board 
{
	background-color: #dee;
}
.move_links
{
	padding: 0 13px 0 0;
}
/* ManageMembers */
.msearch_details
{
	display: block;
	width: 49%;
}
dl.right dt
{
	padding-right: 10px;
}

/* ManageMaintenance */
.maintenance_finished, #task_completed
{
	margin: 1ex; 
	padding: 1ex 2ex; 
	border: 1px dashed green; 
	color: green;
	background: #efe;
}
/*Manage Calendar */
dl.settings dt.small_caption
{
	width: 20%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	clear: both;
}
dl.settings dd.small_caption
{
	width: 79%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	*float: none;
	*width: auto;
}
/*Manage Search*/
dl.settings dt.large_caption
{
	width: 70%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	clear: both;
}
dl.settings dd.large_caption
{
	width: 29%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	*float: none;
	*width: auto;
}
span.search_weight
{
	width: 40px;
	padding: 0 0.5em;
	text-align: right;
	display: inline-block;
}
.search_settings
{
	width: 47%;
}
/*Manage Bans*/
.ban_restriction
{
	margin: 0.2em 0 0.2em 2.2em;
}
.ban_settings
{
	width: 47%;
}
#manage_bans dl
{
	margin-bottom: 1em;
}
#manage_bans fieldset dl.settings
{
	margin-bottom: 0;
}

/*Packages */
.filepermissions
{
	font-size: 0.8em;
	white-space: nowrap;
}
.fperm
{
	display: block;
	width: 35%;
	text-align: center;
}
.perm_read
{
	background-color: #D1F7BF;
}
.perm_write
{
	background-color: #FFBBBB;
}
.perm_execute
{
	background-color: #FDD7AF;
}
.perm_custom
{
	background-color: #C2C6C0;
}
.perm_nochange
{
	background-color: #eee;
}
span.package_server
{
	padding: 0 3em;
}
ul.package_servers
{
	margin: 0;
	padding: 0;
}
ul.package_servers li
{
	list-style-type: none;
}
pre.file_content
{
	overflow: auto; 
	width: 100%; 
	padding-bottom: 1em;
}
.operation
{
	padding: 0 1em;
}
/*Manage Paid */
#fixed_area
{
	width: 97%;
}
ul.pending_payments
{
	margin: 0;
	padding: 0;
}
ul.pending_payments li
{
	list-style-type: none;
}
/*Manage Permissions */
.perm_name, .perm_profile, .perm_board
{
	display: block;
	width: 40%;
}
.perm_boards
{
	padding: 0;
	margin: 0 0 0.6em 0;
}
.perm_boards li 
{
	list-style-type: none;
	border: 1px solid #cacdd3;
	padding: 0.2em;
	margin: 1px;
}
.perm_groups
{
	background-color: white;
}
.perm_classic
{
	margin: 0.2em;
}
.permission_groups
{
	padding: 0;
	margin: 0;
}
.permission_groups li 
{
	list-style-type: none;
	padding: 0.2em;
	margin: 1px;
}
.perms
{
	width: 20px;
	display: inline-block;
	text-align: center;
}
/*Themes*/
ul.theme_options
{
	padding: 0;
	margin: 0;
}
ul.theme_options li
{
	list-style: none;
	padding: 0.4em;
}
.is_directory
{
	padding-left: 18px;
	background: url(../images/admin/boards.gif) no-repeat;
 }
.edit_file
{
	width: 96%; 
	font-family: monospace; 
	margin-top: 1ex; 
	white-space: pre;
}
/*Regcenter*/
.agreement, .reserved_names
{
	padding: 0 5px;
}
#agreement 
{
	width: 100%;
}
/* ************************************* */
/* only for backward compability   */
/* ************************************* */
/*this one is for Backward compatibility with older templates*/
td.windowbg, td.windowbg2
{
	padding-left: 1em;
	padding-right: 1em;
}
/* remove the lower gap from some old templates */
#admin_content
{
	padding-bottom: 0.5em;
}