/* Styles for Calendar.template.php */
.calendar_table
{
	margin-bottom: 0.7em;
}

#month_grid
{
    width: 200px;
	text-align: center;
	float: left;
}

#month_grid table
{ 
    width: 200px;
}

#main_grid table
{
    width: 100%;
	padding-bottom: 4px;
}

#main_grid table h3.catbg
{
    text-align: center; 
    height: 29px;	
	border-top: 2px solid #FFFFFF;
	border-bottom: none;
}

#main_grid table.weeklist td.windowbg
{
    text-align: center; 
    height: 49px;
    width: 25px;
    font-size: large; 
	padding: 0 7px; 
	border-left: 2px solid #FFFFFF;	
	border-bottom: 2px solid #FFFFFF;
}

#main_grid table.weeklist td.weekdays
{
    height: 49px;
    width: 100%;
	padding: 4px; 
	text-align: left;
	vertical-align: middle;
	border-right: 2px solid #FFFFFF;	
	border-bottom: 2px solid #FFFFFF;
}

#main_grid h3.weekly
{
    text-align: center; 
	padding-left: 0;
	font-size: large;
	height: 29px;
}

#main_grid h3 span.floatleft, #main_grid h3 span.floatright
{
    display: block;
    font-weight: bold;	
}

#main_grid table th.days
{
    width: 14%;
}

#main_grid table td.weeks
{
    vertical-align: middle;
	text-align: center;
}

#main_grid table td.days
{
    vertical-align: top;
	text-align: center;	
}

a.modify_event
{
    color: #FF0000;
}

span.hidelink
{
    font-style: italic;
}

#calendar_navigation
{
	text-align: center;
}