/* Tweak the admin menu a bit! */
#adm_container
{
	font-weight: normal;
}
#adm_container ul#adm_menu
{
	margin: 0;
}

#adm_container ul li a
{
	cursor: pointer; 
}
#adm_container ul li ul li a
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px; 
	width: 193px;
}
#adm_container ul li ul ul 
{
	margin: -10px 0 0 120px;
}
/* mark if submenus are present */
.subsection
{
}
/* the menu dropdown toggle image */
#menu_toggle
{
	float: right;
	margin-right: 10px;
}
#menu_toggle span
{
	position: relative;
	right: 5000px;
}