/* ************************************* */
/* styles from BoardIndex.template       */
/* ************************************* */
/* the board title! */
.table_list tbody.content td.info a.subject
{
	font-weight: bold;
	display: block;
	padding-bottom: 2px;
	font-size: 110%;
	margin: 0;
	color: #d97b33;
}
.table_list tbody.content td.children
{
	color: #555;
	font-size: 85%;
}
p.moderators
{
	font-size: 0.8em;
	font-family: verdana, sans-serif;
}
/* hide the table header/footer parts - but its here for those needing to style it */
#boardindex_table .table_list thead, #boardindex_table .table_list tfoot
{
	display: none;
}

/* the posting icons */
#posting_icons
{
	padding: 0 1em 0.5em 2em;
	margin: 0;
	line-height: 1em;
	margin-bottom: 2em;
}
#posting_icons img
{
	vertical-align: middle;
}
#posting_icons .buttonlist
{
	margin: 0;
	padding: 0;
	float: right;
}
#postbuttons_upper ul li a span
{
	line-height: 19px;
	padding: 0 0 0 6px;
}
#posting_icons p
{
	font-size: 0.8em;
}
.pagesection .nextlinks
{
	text-align: right;
}
.pagesection .nextlinks_bottom
{
	clear: right;
	text-align: right;
}

/* the newsfader */
#smfFadeScroller
{
	text-align: center;
	padding: 2em;
	height: 40px;
}
/* the infocenter items */
#upshrinkHeaderIC
{
	margin-top: 4px;
}
dl#ic_recentposts
{
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	line-height: 1.3em;
}
dl#ic_recentposts dt
{
	float: left;
}
dl#ic_recentposts dd
{
	text-align: right;
}
#upshrinkHeaderIC p
{
	margin: 0 0 0.5em 0;
	padding: 0.5em;
}
#upshrinkHeaderIC p.last
{
	margin: 0;
	padding: 0.5em;
	border-top: dotted 2px #bbb;
}
#upshrinkHeaderIC p.inline
{
	border: none;
	margin: 0;
	padding: 0.2em 0.5em 0.2em 0.5em;
}
#upshrinkHeaderIC p.stats
{
	font-size: 1.2em;
	padding-top: 8px;
}
form#ic_login
{
	padding: 0.5em;
	height: 2em; 
}
form#ic_login ul li
{
	margin: 0;
	padding: 0;
	float: left;
	width: 20%;
	text-align: center;
}
form#ic_login ul li label
{
	display: block;
}
/*the small stats*/
#stats
{
    display: block;
    margin: 0 0 0.5em 0;
    text-align: right;
    font-size: 0.9em;
    position: relative;
    top: -20px;
    line-height: 1px;
}
/* rounded bars needs a different background here */
#upshrinkHeaderIC h3.catbg span.left, #upshrinkHeaderIC h3.catbg2 span.left
{
	background: url(../images/theme/caps.png) no-repeat 0 -80px;
}
#upshrinkHeaderIC h3.catbg
{
}
#upshrinkHeaderIC h3.catbg span.right, #upshrinkHeaderIC h3.catbg2 span.right
{
	background: url(../images/theme/caps.png) no-repeat 100% -80px;
}
#upshrinkHeaderIC h4.titlebg span.left
{
	background: url(../images/theme/caps.png) no-repeat 0 0;
}
#upshrinkHeaderIC h4.titlebg
{
	background: url(../images/theme/caps.png) repeat-x 0 -240px;
}
#upshrinkHeaderIC h4.titlebg span.right
{
	background: url(../images/theme/caps.png) no-repeat 100% 0;
}
#upshrinkHeaderIC p.pminfo
{
    margin: 0;
    padding: 0.5em;
}
img#upshrink_ic, img#newsupshrink
{
	float: right;
	margin: 10px 5px 0 0;
}
table.table_list a.unreadlink,table.table_list a.collapse
{
	float: right;
}
table.table_list a.collapse
{
	margin: 10px 5px 0 1em;
}
/* ************************************* */
/* styles from MessageIndex.template     */
/* ************************************* */
#messageindex
{
	clear: both;
}
/* the page navigation area */
#childboards h3
{
	padding: 0;
}
#childboards .table_list thead
{
	display: none;
}
#childboards .table_list 
{
	margin-bottom: 1em;
}
.lastpost img
{
	float: right;
}
/* ************************************* */
/* styles from Display.template          */
/* ************************************* */
#postbuttons div.buttons
{
	padding: 0.5em;
	width: 40%;
	float: right;
}
#postbuttons div.middletext
{
	width: 60%;
}
#postbuttons span
{
	display: block;
	text-align: right;
}
#postbuttons span.lower
{
	clear: right;
}
#postbuttons .buttonlist
{
	float: right;
}
#postbuttons #pagelinks
{
	padding-top: 1em;
}
#moderationbuttons
{
	overflow: hidden;
}

/* Poll question */
#poll
{
	overflow: hidden;
}
h4#pollquestion
{
	padding: 0.5em 0 0.5em 2em;
}

/* Poll vote options */
#poll_options ul.options
{
	border-top: 1px solid #696969;
	padding: 1em 2.5em 0 2em;
	margin: 0 0 1em 0;
}
#poll_options div.submitbutton
{
	border-bottom: 1px solid #696969;
	clear: both;
	padding: 0 0 1em 2em;
	margin: 0 0 1em 0;
}

/* Poll results */
#poll_options dl.options
{
	border: solid #696969;
	border-width: 1px 0;
	padding: 1em 2.5em 0 2em;
	margin: 0 0 1em 0;
}
#poll_options dl.options dt.voted
{
	font-weight: bold;
}
#poll_options dl.options dd
{
	margin: 0.5em 0 1em 0;
}

/* Poll notices */
#poll_options p
{
	margin: 0 1.5em 0.2em 1.5em;
	padding: 0 0.5em 0.5em 0.5em;
}

div#pollmoderation
{
	margin: 0 0 0 1em;
	padding: 0;
	overflow: auto;
}

/* onto the posts */
#forumposts
{
	clear: both;
}
/* author and topic informaton */
#forumposts h3 span#author, #forumposts h3 span#top_subject
{
	width: 20%;
	display: block;
	float: left;
}
#forumposts h3 span#top_subject
{
	width: 70%;
}
#forumposts h3 img
{
	float: left;
	margin: 4px 0.5em 0 0;
}
#forumposts h3.catbg
{
	margin-bottom: 3px;
}
p#whoisviewing
{
	margin: 0;
	padding: 0.5em;
}
/* to adress a single post, also using "bordercolor" class */
#forumposts .singlepost
{
}
/* poster and postarea + moderation area underneath */
.poster
{
	float: left;
	width: 17%;
}
.postarea, .moderatorbar
{
	margin-left: 18%;
}
.moderatorbar
{
	clear: right;
}
/* poster details and list of items */
.poster h4, .poster ul
{
	padding: 0;
	margin: 0 1em 0 1.5em;
}
.poster h4
{
	margin: 0.2em 0 0.4em 1.1em;
	font-size: 120%;
}
.poster h4, .poster h4 a
{
	color: #c06002;
}
.poster ul ul
{
	margin: 0.3em 1em 0 0;
	padding: 0;
}
.poster ul ul li
{
	display: inline;
}
.poster li.stars, .poster li.blurb, li.postcount, li.im_icons ul
{
	padding-top: 0.7em;
}
.postarea .keyinfo .messageicon
{
	float: left;
	margin: 0 0.5em 2em 0;
}
.postarea .keyinfo
{
	float: left;
	width: 50%;
}
.postarea .modifybutton
{
	clear: right;
	float: right;
	margin: 8px 20px 10px 0;
	text-align: right;
}
.postarea ul.quickbuttons
{
	clear: right;
	float: right;
	text-align: right;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 0.85em;
}
.postarea ul.quickbuttons a:hover
{
	color: #a70;
}
/* the icons for the quickbuttons */
ul.quickbuttons li
{
	padding-left: 25px;
	float: left;
}
ul.quickbuttons li a
{
	display: block;
	height: 20px;
	line-height: 18px;
	float: left;
}
ul.quickbuttons li.approve_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 5px -90px;
}
ul.quickbuttons li.quote_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 5px 0;
}
ul.quickbuttons li.reply_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 5px -180px;
}
ul.quickbuttons li.modify_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 5px -60px;
}
ul.quickbuttons li.remove_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 5px -30px;
}
ul.quickbuttons li.split_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 5px -150px;
}
ul.quickbuttons li.restore_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 5px -120px;
}

.postarea .post
{
	float: left;
	clear: right;
}
.postarea .post .inner
{
	padding: 1em 1em 0 0;
	margin: 0 1em 0 0;
	border-top: solid 1px #99a;
}
#forumposts .modified, #forumposts .reportlinks
{
	width: 45%;
	padding-bottom: 0.5em;
}
#forumposts .modified
{
	float: left;
}
#forumposts .reportlinks
{
	margin-right: 1em;
	text-align: right;
	clear: right;
	float: right;
}
#forumposts .signature
{
	clear: right;
	width: 98%;
	border-top: solid 1px #aaa;
	padding-top: 0.5em;
}
#forumposts span.botslice
{
	clear: both;
}
.attachments hr
{
	clear: both;
	margin: 1em 0 1em 0;
}
.attachments
{
	padding: 1em 0.5em 2em 0.5em;
}
/* the quick-reply area */
#quickReplyWarning
{
	width: 20%;
	float: left;
	padding: 0.5em 1em;
}
#quickReplyContent
{
	width: 75%;
	float: right;
	padding: 0.5em 0;
}
#quickReplyOptions .innerframe
{
	overflow: hidden;
}
/* The jump to box */
#display_jump_to
{
	clear: both;
	padding: 5px;
}

/* ************************************* */
/* styles from Recent.template           */
/* ************************************* */
#readbuttons_top .pagelinks,#readbuttons .pagelinks
{
	padding-bottom: 1em;
	width: 60%;
}
#readbuttons .pagelinks
{
	padding-top: 1em;;
}
#recent
{
	clear: both;
}

/* ************************************* */
/* styles from MoveTopic.template        */
/* ************************************* */
#move_topic dl
{
	margin-bottom: 0;
}
.move_topic
{
	width: 600px;
	margin: auto;
	text-align: left;
}
div.move_topic fieldset
{
	margin: 0.5em 0;
	border: 1px solid #cacdd3;
	padding: 0.5em;
}