/* special styles for IE6 */
/* the main menu */
.dropmenu
{
	height: 1%;
}
.dropmenu li
{
	width: 1px;
}
.dropmenu li a span
{
	white-space: nowrap;
}
.dropmenu li a:hover
{
	text-decoration: none;
}
/* use gif for ie6 */
.dropmenu li ul 
{
	background: url(../images/theme/menu_gfx.gif) 0 -100px no-repeat;
}

/* the active button */
.dropmenu li a.active
{
	background: url(../images/theme/menu_gfx.gif) no-repeat 100% 0;
}
.dropmenu li a.active span.firstlevel
{
	background: url(../images/theme/menu_gfx.gif) no-repeat 0 0;
}
/* the hover effects */
.dropmenu li a.firstlevel:hover, .dropmenu li.over a.firstlevel
{
	background: url(../images/theme/menu_gfx.gif) no-repeat 100% -31px;
}
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li.over a.firstlevel span.firstlevel
{
	background: url(../images/theme/menu_gfx.gif) no-repeat 0 -31px;
}
.buttonlist ul li a
{
    background: url(../images/theme/menu_gfx.gif) no-repeat 0 -60px;
}

.buttonlist ul li a span
{
    background: url(../images/theme/menu_gfx.gif) no-repeat 100% -60px;
}
.buttonlist ul li a:hover span
{
    background: url(../images/theme/menu_gfx.gif) no-repeat 100% 0;
}
/* the active one */
.buttonlist ul li a.active
{
    background: url(../images/theme/menu_gfx.gif) no-repeat 0 -30px;
}
.buttonlist ul li a.active span
{
    background: url(../images/theme/menu_gfx.gif) no-repeat 100% -30px;
}
/* the page section*/
.pagesecttion 
{
	overflow: auto;
}
/* the user section needs some attention */
#main_menu
{
    width: 98%;
}
#top_section
{
    height: 65px;
}
/*  the tabled definition lists */
dl.settings dd, #creator dd, dl.stats dd
{
	float: none;
	width: auto;
}
/* **************** */
/* from MessageIndex.template */
/* **************** */
#messageindex table
{
	margin-top: 5px;
}
#messageindex table th
{
	border-bottom: solid 1px white;
}
.description
{
	padding: 2em 1em 1em 1em;
	overflow: auto;
}

/* **************** */
/* from Display.template */
/* **************** */
#forumposts .postarea
{
	margin-left: 0px;
	float: right;
}
#forumposts .postarea .post
{
	float: none;
	margin-top: 10px;
}
.buttonlist ul li
{
	width: 1%;
	white-space: nowrap;
}
#forumposts .buttonlist ul
{
	clear: right;
	height: 1%;
}
#forumposts h3.catbg
{
	margin-top: 8px;
	clear: both;
}

/* ******************* */
/* Admin.template */
/* ************************ */
#main_admsection
{
	height: 655px;
}
#main_admsection table
{
	width: 99%;
}
