/* special styles for IE6 */
/* the main menu */
.dropmenu
{
	height: 1%;
}
.dropmenu li
{
	width: 1px;
}
.dropmenu li a span
{
	white-space: nowrap;
}
.dropmenu li a:hover
{
	text-decoration: none;
}
.dropmenu li a.active
{
	background: url(../images/theme/menu_bg_right.gif) no-repeat top right;
}
.dropmenu li a.active span.firstlevel
{
	background: url(../images/theme/menu_bg_left.gif) no-repeat 3px 0;
}
/* the hover effects */
.dropmenu li a.firstlevel:hover, .dropmenu li.over a.firstlevel
{
	background: url(../images/theme/active_menu_right.gif) no-repeat top right;
}
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li.over a.firstlevel span.firstlevel
{
	background: url(../images/theme/active_menu_left.gif) no-repeat 3px 0;
}
#main_menu
{
	width: 99%;
	text-align: center;
}

/* a fix for the background for user section */
#mainframe #upper_section li.user
{
	background: none;
}
#mainframe ul#upper_section li.user ul
{
	padding-left: 0;
}
/* **************** */
/* from MessageIndex.template */
/* **************** */
#messageindex table
{
	margin-top: 5px;
}
#messageindex table th
{
	border-bottom: solid 1px white;
}
/* **************** */
/* from Display.template */
/* **************** */
#forumposts .postarea .post
{
	float: none;
}
.buttonlist ul li
{
	width: 1%;
	white-space: nowrap;
}
#forumposts .buttonlist ul
{
	clear: right;
	height: 1%;
}
#forumposts h3.catbg
{
	margin-top: 8px;
	clear: both;
}		