/* special styles for IE7 */
/* the main menu */
#main_menu
{
	text-align: center;
}
#main_menu ul
{
	display: inline-block;
}
#main_menu ul
{
	display: inline;
}
#main_menu ul li
{
	display: inline-block;
}
#main_menu ul li
{
	display: inline;
}
#main_menu ul li a
{
	display: inline-block;
}
#main_menu ul li a
{
	cursor: pointer;
	display: inline;
}

#main_menu ul ul
{
	display: block;
	left: -999%;
	text-align: left;
}
#main_menu ul li:hover ul
{
	top: auto;
	margin-top: 1.5em;
	left: auto;
}
/* **************** */
/* from MessageIndex.template */
/* **************** */
#messageindex table
{
	margin-top: 5px;
}
#messageindex table th
{
	border-bottom: solid 1px white;
}

/* **************** */
/* from Display.template */
/* **************** */
#forumposts .postarea .post
{
	padding-top: 1em;
	float: none;
}
#forumposts h3.catbg
{
	margin-top: 8px;
	clear: both;
}