/* special styles for IE7 */
/* the hover effects */
.dropmenu li:hover, .dropmenu li.hover 
{  
	position: static;  
}  

/* **************** */
/* from MessageIndex.template */
/* **************** */
#messageindex table
{
	margin-top: 5px;
}
#messageindex table th
{
	border-bottom: solid 1px white;
}

/* **************** */
/* from Display.template */
/* **************** */
#forumposts .postarea .post
{
	padding-top: 1em;
	float: none;
}
#forumposts h3.catbg
{
	margin-top: 8px;
	clear: both;
}