/* ************************************* */
/* Styles from index.template            */
/* ************************************* */

/* the framing graphics */
#header
{
	background: url(../images/theme/frame.png) #fefefe no-repeat top left;
	padding-left: 20px;
}
#header div.frame
{
	background: url(../images/theme/frame.png) no-repeat top right;
	display: block;
	padding: 5px 20px 0 0px;
}
/* the content section */
#content_section
{
	background: url(../images/theme/frame_repeat.png) repeat-y top left;
	padding-left: 20px;
}
#content_section div.frame
{
	background: url(../images/theme/frame_repeat.png) repeat-y right;
	display: block;
	padding: 0px 20px 0px 0;
}
#main_content_section
{
	width: 100%;
	min-height: 200px;
}

/* the main title, always stay at 45 pixels in height! */
h1.forumtitle
{
	line-height: 45px;
	font-size: 1.8em;
	font-family: Geneva, verdana, sans-serif;
	margin: 0;
	padding: 0;
	float: left;
}
/* float these items to the right */
#siteslogan, img#smflogo
{
	margin: 0;
	padding: 0;
	float: right;
	line-height: 3em;
}
h3, h4
{
	padding-bottom: 3px;
}
/* the upshrink image needs some tweaking */
img#upshrink
{
	float: right;
	margin: 1em;
}
/* ..so does the SMF logo */
img#smflogo
{
	margin-left: 1em;
}
/* the upper_section, float the two each way */
#upper_section
{
	padding: 5px;
	margin-bottom: 1.5em;
}
#upper_section ul li.greeting
{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}
#upper_section div.news
{
	width: 50%;
	float: right;
	text-align: right;
}
#guest_form .info
{
	padding: 4px 0 ;
}
div#upper_section div.user
{
	width: 50%;
	float: left;
	overflow: auto;
}
div#upper_section div.user p
{
	float: left;
	margin: 0 1em 1em 0;
	padding: 0;
}
div#upper_section div.user ul
{
	margin: 0;
	padding-left: 10px;
}
div#upper_section div.user ul li
{
	margin-bottom: 2px;
}
div#upper_section div.news p
{
	display: inline;
}
div#upper_section div.news form
{
	padding-bottom: 10px;
}
/* clearing the floats */
#top_section
{
	min-height: 65px;
}
#upper_section
{
	overflow: hidden;
}
/* the navigation list */
#navigate_section_upper, #navigate_section_lower
{
	overflow: hidden;
	margin: 0;
	padding: 0.5em;
	margin: 1em 0 0 0;
}
#navigate_section_upper ul, #navigate_section_lower ul
{
	display: block;
	margin: 0;
	font-size: 1em;
	padding: 0.5em 0;
	border-top: solid #ccc 1px;
}
#navigate_section_upper ul li, #navigate_section_lower ul li
{
	display: inline;
	font-size: 0.95em;
}
/* the font size changer panel */
p#fontsize_panel
{
	text-align: right;
	color: white;
}
p#fontsize_panel img
{
	border: solid 1px #557B9C;
	margin-right: 2px;
	padding: 3px;
}
/* the footer wih copyright links etc. */
#footer_section
{
	text-align: center;
	background: url(../images/theme/frame.png) no-repeat bottom left;
	padding-left: 20px;
}
#footer_section span.smalltext
{
	font-size: 100%;
}
#footer_section div.frame
{
	background: url(../images/theme/frame.png) no-repeat bottom right;
	display: block;
	padding: 60px 0 0 0;
}
#footer_section ul li, #footer_section p
{
	font-size: 0.8em;
}
#footer_section ul li
{
	display: inline;
	padding-right: 5px;
}
#footer_section ul li.copyright
{
	display: block;
}

/* define a typical table */
table.table_list
{
	width: 100%;
}
table.table_list p
{
	padding: 0;
	margin: 0;
}
table.table_list td,table.table_list th
{
	padding: 5px;
}
table.table_list tbody.header td
{
	padding: 0px;
}
table.table_list tbody.content td.stats
{
	font-size: 90%;
	width: 15%;
	text-align: center;
}
table.table_list tbody.content td.lastpost
{
	line-height: 1.2em;
	font-size: 85%;
	width: 24%;
}
table.table_list tbody.content td.icon
{
	text-align: center;
	width: 6%;
}

/* setup the rounded header bars */
h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg, .table_list tbody.header td
{
	overflow: hidden;
	height: 31px;
	line-height: 31px;
	font-size: 1.2em;
	font-weight: bold;
}
h3.catbg a, h3.catbg, .table_list tbody.header td, .table_list tbody.header td a
{
	color: white;
}
h3.catbg2 a, h3.catbg2
{
	color: #feb;
}
h3.catbg a:hover, .table_list tbody.header td a:hover
{
	color: #fd9;
	text-decoration: none;
}
h3.catbg2 a:hover
{
	color: #fff;
	text-decoration: none;
}
h3.titlebg a, h3.titlebg, h4.titlebg, h4.titlebg a
{
	color: black;
}
h3.titlebg a:hover, h4.titlebg a:hover
{
	color: #FFA500;
	text-decoration: none;
}
h3.catbg span.left,h3.catbg span.right, h3.catbg2 span.left, h3.catbg2 span.right,.table_list tbody.header td span.right,.table_list tbody.header td span.left
{
	display: block;
	width: 9px;
	height: 31px;
}
h3.catbg img.icon
{
   float: left;
   margin: 5px 8px 0 0;
}
h4.catbg span.left, h4.catbg2 span.left, h3.catbg span.left, h3.catbg2 span.left,.table_list tbody.header td span.left
{
	float: left;
	background: url(../images/theme/caps.png) no-repeat 0 -120px;
}
h4.catbg span.right, h4.catbg2 span.right, h3.catbg span.right, h3.catbg2 span.right, .table_list tbody.header td span.right
{
	float: right;
	background: url(../images/theme/caps.png) no-repeat 100% -120px;
}
h4.titlebg span.left,h4.titlebg span.right, h3.titlebg span.left,h3.titlebg span.right
{
	display: block;
	width: 9px;
	height: 31px;
}
h4.titlebg span.left, h3.titlebg span.left
{
	float: left;
	background: url(../images/theme/caps.png) no-repeat 0 -40px;
}
h4.titlebg span.right, h3.titlebg span.right
{
	float: right;
	background: url(../images/theme/caps.png) no-repeat 100% -40px;
}
h4.titlebg img.icon
{
	float: left;
	margin: 5px 8px 0 0;
}

/* the login css needs to be everywhere */
.login
{
	width: 480px;
	margin: 0 auto;
}
.login dt, .login dd
{
	margin: 0;
	height: 2.5em;
	width: 45%;
}
.login dt
{
	float: left;
	text-align: right;
	font-weight: bold;
	line-height: 1.5em;
}
.login dd
{
	width: 54%;
	float: right;
	text-align: left;
}
.login p
{
	text-align: center;
}
.login h3 img
{
	float: left;
	margin: 4px 0.5em 0 0;
}
/* for maintenance mode */
#maintenance
{
	width: 75%;
	min-width: 520px;
	text-align: left;
}
#maintenance img.align_left
{
	margin-right: 1em;
}
/* common for all admin sections */
h3.titlebg img
{
	vertical-align: middle;
	margin-right: 0.5em;
}
tr.titlebg td
{
	padding-left: 0.7em;
}
#admin_menu
{
	min-height: 2em;
	padding-left: 0;
}
#admin_content
{
	clear: left;
}

/* the old style admin menus */
.left_admmenu, .left_admmenu ul, .left_admmenu li
{
	padding: 0;
	margin: 0;
	list-style: none;
}
#left_admsection
{
	width: 160px;
	float: left;
	padding-right: 10px;
}
.adm_section h4.titlebg
{
	font-size: 95%;
	margin-bottom: 5px;
}
#adm_container
{
	border-bottom: solid 1px #ccc;
	margin-bottom: 5px;
}
.left_admmenu li
{
	padding: 0 0 0 0.5em;
}
.left_admmenu
{
	margin-bottom: 1.1em;
}
#main_admsection
{
	margin-left: 172px;
}

tr.windowbg td, tr.windowbg2 td
{
	padding: 0.3em 0.7em;
}
#credits p
{
	padding: 0;
	font-style: italic;
	margin: 0;
}

/* define a generic table class */
.topic_table table
{
	width: 100%;
}
.topic_table .icon1, .topic_table .icon2, .topic_table .stats
{
	text-align: center;
}
#topic_icons
{
	margin-top: 1em;
}
#topic_icons .description
{
	margin: 0;
}
.topic_table table thead
{
	border-bottom: solid 1px white;
}
/* the subject column */
.topic_table td
{
	font-size: 1em;
}
.topic_table td.subject
{
	padding: 4px;
}
.topic_table td.subject p, .topic_table td.stats, .topic_table td.lastpost
{
	font-size: 0.85em;
	padding: 0;
	margin: 0;
}
.topic_table td.lastpost,.topic_table td.lastpost
{
	font-size: 0.9em;
	line-height: 100%;
	padding: 4px;
}
.topic_table td.stickybg2
{
	background-image: url(../images/icons/quick_sticky.gif);
	background-repeat: no-repeat;
	background-position: 98% 4px;
}
.topic_table td.lockedbg2, .topic_table td.stickybglockedbg2
{
	background-image: url(../images/icons/quick_lock.gif);
	background-repeat: no-repeat;
	background-position: 98% 4px;
}
.topic_table td.lastpost
{
	background-image: none;
}