/* ************************************* */
/* Styles from index.template            */
/* ************************************* */

/* the framing graphics */
#header
{
	background: url(../images/theme/top_bg.png) #fefefe no-repeat top left;
}
#header div.frame
{
	background: url(../images/theme/top_bg_frame.png) no-repeat top right;
	display: block;
	padding: 5px 20px 0 20px;
}

/* the content section */
#content_section
{
	background: url(../images/theme/left.png) #fff repeat-y left;
}
#content_section div.frame
{
	background: url(../images/theme/right.png) repeat-y right;
	display: block;
	padding: 0px 20px 0px 20px;
	min-height: 200px;
}

/* the main title, always stay at 45 pixels in height! */
h1
{
	line-height: 45px;
	font-size: 1.8em;
	font-family: Geneva, verdana, sans-serif;
	margin: 0;
	padding: 0;
	float: left;
}
/* float these items to the right */
h2.sitelogo, img#smflogo, img#upshrink
{
	margin: 0;
	padding: 0;
	float: right;
}
/* float these items to the right */
h3
{
	margin-bottom: 3px;
}
/* and be sure they stay apart :) */
img#upshrink, #upper_section, #main_menu, ul#navigation, #content_section
{
	clear: both;
}
/* the upshrink image needs some tweaking */
img#upshrink
{
	margin: -10px 1em 1em 0;
}
/* ..so does the SMF logo */
img#smflogo
{
	margin-top: 4px;
}
/* the upper_section, float the two each way */
ul#upper_section
{
	margin: 0;
	padding: 5px;
}
ul#upper_section li ul li.greeting
{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}
ul#upper_section li.news
{
	width: 50%;
	float: right;
	text-align: right;
}
#guest_form .info
{
	padding: 4px 0 ;
}
ul#upper_section li.user
{
	width: 50%;
	float: left;
}
ul#upper_section li.user p
{
	float: left;
	margin: 0 1em 3em 0;
	padding: 0;
}
ul#upper_section li.user ul
{
	margin: 0;
	padding-left: 10px;
	min-height: 70px;
}
ul#upper_section li.user ul li
{
	margin-bottom: 2px;
}
ul#upper_section li.news h3, ul#upper_section li.news p
{
	display: inline;
}
ul#upper_section li.news form
{
	clear: both;
	padding-bottom: 10px;
}

/* the font size changer panel */
p#fontsize_panel
{
	text-align: right;
	color: white;
}
p#fontsize_panel img
{
	border: solid 1px #557B9C;
	margin-right: 2px;
	padding: 3px;
}
/* the footer wih copyright links etc. */
#footer_section
{
	text-align: center;
	background: url(../images/theme/bot_bg.png) no-repeat top left;
}
#footer_section span.smalltext
{
	font-size: 100%;
}
#footer_section div.frame
{
	background: url(../images/theme/bot_bg_frame.png) no-repeat top right;
	display: block;
	padding: 60px 0 0 0;
}
#footer_section ul li, #footer_section p
{
	font-size: 0.8em;
}
#footer_section ul li
{
	display: inline;
	padding-right: 5px;
}
#footer_section ul li.copyright
{
	display: block;
}

/* setup the rounded header bars */
h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg
{
	height: 31px;
	line-height: 31px;
	font-size: 1.2em;
	font-weight: bold;
}
h3.catbg a, h3.catbg
{
	color: white;
}
h3.catbg2 a, h3.catbg2
{
	color: #feb;
}
h3.catbg a:hover
{
	color: #fd9;
	text-decoration: none;
}
h3.catbg2 a:hover
{
	color: #fff;
	text-decoration: none;
}
h3.titlebg a, h3.titlebg, h4.titlebg, h4.titlebg a
{
	color: black;
}
h3.titlebg a:hover, h4.titlebg a:hover
{
	color: orange;
	text-decoration: none;
}
h3.catbg span.left,h3.catbg span.right, h3.catbg2 span.left, h3.catbg2 span.right
{
	display: block;
	width: 9px;
	height: 31px;
}
h3.catbg span.left, h3.catbg2 span.left
{
	float: left;
	background: url(../images/catbg_left.png) no-repeat;
}
h3.catbg span.right, h3.catbg2 span.right
{
	float: right;
	background: url(../images/catbg_right.png) no-repeat;
}
h4.titlebg span.left,h4.titlebg span.right
{
	display: block;
	width: 9px;
	height: 31px;
}
h4.titlebg span.left
{
	float: left;
	background: url(../images/titlebg_left.png) no-repeat;
}
h4.titlebg span.right
{
	float: right;
	background: url(../images/titlebg_right.png) no-repeat;
}

/* the round corners of each box */
.windowbg span.topslice
{
	display: block;
	background: url(../images/theme/windowbg_topslice.png) top left no-repeat;
}
.windowbg span.topslice span
{
	display: block;
	background: url(../images/theme/windowbg_topslice2.png) top right no-repeat;
	height: 11px;
}
.windowbg span.botslice
{
	display: block;
	background: url(../images/theme/windowbg_botslice.png) top left no-repeat;
	margin-bottom: 0.2em;
}
.windowbg span.botslice span
{
	display: block;
	background: url(../images/theme/windowbg_botslice2.png) top right no-repeat;
	height: 11px;
}

.windowbg2 span.topslice
{
	display: block;
	background: url(../images/theme/windowbg2_topslice.png) top left no-repeat;
}
.windowbg2 span.topslice span
{
	display: block;
	background: url(../images/theme/windowbg2_topslice2.png) top right no-repeat;
	height: 11px;
}
.windowbg2 span.botslice
{
	display: block;
	background: url(../images/theme/windowbg2_botslice.png) top left no-repeat;
	margin-bottom: 0.2em;
}
.windowbg2 span.botslice span
{
	display: block;
	background: url(../images/theme/windowbg2_botslice2.png) top right no-repeat;
	height: 11px;
}

.approvebg span.topslice
{
	display: block;
	background: url(../images/theme/approvebg_topslice.png) top left no-repeat;
}
.approvebg span.topslice span
{
	display: block;
	background: url(../images/theme/approvebg_topslice2.png) top right no-repeat;
	height: 11px;
}
.approvebg span.botslice
{
	display: block;
	background: url(../images/theme/approvebg_botslice.png) top left no-repeat;
	margin-bottom: 0.2em;
}
.approvebg span.botslice span
{
	display: block;
	background: url(../images/theme/approvebg_botslice2.png) top right no-repeat;
	height: 11px;
}
/* alternative framing */
#roundframe
{
	background: url(../images/theme/ic_bg.png) repeat-y;
}
#roundframe div.frame
{
	padding: 3px 15px;
	display: block;
	background: url(../images/theme/ic_bg2.png) top right repeat-y;
}
span#upperframe
{
	padding: 0;
	display: block;
	background: url(../images/theme/ic_bg_top.png) top left no-repeat;
}
span#upperframe span
{
	padding: 0;
	height: 12px;
	display: block;
	background: url(../images/theme/ic_bg_top2.png) top right no-repeat;
}
span#lowerframe
{
	padding: 0;
	display: block;
	background: url(../images/theme/ic_bg_bot.png) bottom left no-repeat;
}
span#lowerframe span
{
	padding: 0;
	height: 12px;
	display: block;
	background: url(../images/theme/ic_bg_bot2.png) bottom right no-repeat;
}
/* the login css needs to be everywhere */
.login
{
	width: 480px;
	margin: 0 auto;
}
.login dt, .login dd
{
	margin: 0;
	height: 2.5em;
	width: 45%;
}
.login dt
{
	float: left;
	text-align: right;
	font-weight: bold;
	line-height: 1.5em;
}
.login dd
{
	width: 54%;
	float: right;
	text-align: left;
}
.login p
{
	clear: both;
	text-align: center;
}
.login h3 img
{
	float: left;
	margin: 4px 0.5em 0 0;
}
/* for maintenace mode */
#maintenace
{
	width: 75%;
	min-width: 520px;
	text-align: left;
}
#maintenace img.align_left
{
	margin-right: 1em;
}
