/* ************************************* */
/* styles from Register.template       */
/* ************************************* */
#register_screen
{
	width: 80%;
	min-width: 600px;
}
.register_error
{
	border: 1px dashed red;
	padding: 5px;
	margin: 0 1ex 1ex 1ex;
}
.register_error span
{
	text-decoration: underline;
}
dl.register_form
{
	padding: 10px;
}
.register_form dt
{
	width:  50%;
	float: left;
	padding: 5px 1em 5px 5px;
	text-align: right;
	font-weight: bold;
}
.register_form dt span.smalltext
{
	font-weight: normal;
}
.register_form dd
{
	padding: 8px;
	min-height:15px;
}
.register_form dt span
{
	display: block;
}
.register_captcha
{
	height: 85px;
}
.coppa_contact
{
	padding: 4px;
	width: 32ex;
	background-color: white;
	color: black;
	margin-left: 5ex;
	border: 1px solid black;
}
/* ************************************* */
/* styles from Login.template       */
/* ************************************* */
#admin_login .centertext
{
	padding: 1em;
}
