/* ************************************* */
/* styles from Register.template       */
/* ************************************* */
#register_screen
{
	width: 100%;
	min-width: 600px;
}
.register_error
{
	border: 1px dashed red;
	padding: 5px;
	margin: 0 1ex 1ex 1ex;
}
.register_error span
{
	text-decoration: underline;
}
dl.register_form
{
	padding: 0;
}
.register_form dt
{
	float: none;
	margin: 0;
	width:  35%;
	position: absolute;
	padding: 0;
	text-align: right;
	font-weight: bold;
}
.register_form dt em
{
	font-weight: normal;
	font-style: normal;
}
.register_form dt span.smalltext
{
	font-weight: normal;
}
.register_form dd
{
	min-height: 3em;
	float: none;
	padding: 0 0 0 90px;
	margin: 0 0 0 35%;
}
.register_form dt span
{
	display: block;
}
.register_captcha
{
	height: 85px;
}
.coppa_contact
{
	padding: 4px;
	width: 32ex;
	background-color: white;
	color: black;
	margin-left: 5ex;
	border: 1px solid black;
}
/* ************************************* */
/* styles from Login.template       */
/* ************************************* */
#admin_login .centertext
{
	padding: 1em;
}
