/* ************************************* */
/* styles from Register.template       */
/* ************************************* */
.register_error
{
	border: 1px dashed red;
	padding: 5px;
	margin: 0 1ex 1ex 1ex;
}
.register_error span
{
	text-decoration: underline;
}

#username_group, #password1_group, #authentication_group, #openid_group
{
	clear: both;
}

.register_form
{
	overflow: hidden;
	float: left;
	margin: 0 0 0.75em 0;
	width: 50%;
}

.register_form dt
{
	font-weight: bold;
	margin: 0 0 0.75em 0;
}

.register_form dd
{
	margin: 0;
	padding: 0;
}

#email_group dd label
{
	display: block;
	margin: 0.5em 0 0 0;
}

/* Additional profile fields */
#custom_group, #admin_register_form
{
	margin: 0;
}

#custom_group dt, #admin_register_form dt
{
	font-weight: normal;
	float: left;
	clear: both;
	width: 50%;
	margin: 0.5em 0 0 0;
}

#custom_group dt strong, #admin_register_form dt strong
{
	font-weight: bold;
}

#custom_group dt span, #admin_register_form dt span
{
	display: block;
}

#custom_group dd, #admin_register_form dd
{
	float: left;
	clear: right;
	margin: 0.5em 0 0 0;
}

#confirm_buttons
{
	text-align: center;
	padding: 1em 0;
	clear: both;
}

.coppa_contact
{
	padding: 4px;
	width: 32ex;
	background-color: white;
	color: black;
	margin-left: 5ex;
	border: 1px solid black;
}

/* ************************************* */
/* styles from Login.template       */
/* ************************************* */
#admin_login .centertext
{
	padding: 1em;
}