#modcenter
{
	display: block;
	width: 100%;
}
.modblock_left
{
	width: 49%;
	float: left;
	clear: right;
	margin: 0 0 1em 0;
}
.modblock_right
{
	width: 49%;
	float: right;
	margin: 0 0 1em 0;
}

/* Announcements*/
#smfAnnouncements
{
	height: 150px; 
	overflow: auto;
}
#smfAnnouncements dt
{
	border-bottom: 1px dashed #000;
}
#smfAnnouncements dd
{
	padding: 0;
	margin: 0 0 1em 1.5em;
}
.modbox
{
	height: 150px; 
	overflow: auto;
}
/* Moderation Notes */
ul.moderation_notes
{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	height: 8.5em;
}
ul.moderation_notes li
{
	padding: 4px 0px 4px 4px;
	border-bottom: 1px solid #cccccc;
}
.notes
{
	margin: 0.5em 0;
}
.post_note
{
	width: 85%;
}
