#edit_poll fieldset
{
	margin-bottom: 0.5em;
	border: 1px solid #cacdd3;
	padding: 0.5em;
	clear: both;
}
#edit_poll legend
{
	font-weight: bold;
	color: black;
}
div.poll_options 
{
	width: 49%;
	float: left;
}
ul.poll_main, ul.poll_options
{
	padding: 0;
	overflow: hidden;
}
ul.poll_main li
{
	list-style-type: none;
	margin: 0.3em 0;
	width: 49%;
	float: left;
}
ul.poll_options li
{
	list-style-type: none;
	margin: 0.3em 0;
}