
/* ************************************* */
/* styles from Recent.template           */
/* ************************************* */
#readbuttons_top .pagelinks,#readbuttons .pagelinks
{
	padding-bottom: 1em;
	width: 60%;
}
#readbuttons .pagelinks
{
	padding-top: 1em;
}
#recent
{
	clear: both;
}

h3.recent
{
	margin: 0.2em 0 0.2em 0;
}
h4.recent
{
	margin-top: 0.5em;
	clear: both;
}
.recent_date
{
	color: white;
	float: right;
	display: block;
	font-size: 85%;
}
.recent_counter
{
	float: left;
	padding: 0 1em 0 0;
}

.recent_author
{
	float: left;
	display: block;
}

.recent_post
{
	margin: 0.5em 0 0.2em 0;
	
}
.recentarea
{
	padding: 0.5em;
}