/* ************************************* */
/* styles for Search.template            */
/* ************************************* */
#searchform, #simple_search p 
{
	padding: 0.5em;
	margin: 0;
}
#simple_search, #simple_search p, #advanced_search
{
	text-align: center !important;
	margin: 0;
}
#search_error
{
	font-style: italic;
	padding: 0.3em 1em;
}
span.enhanced
{
	font-size: 115%;
	display: block;
}

/* Options for the advanced search form */
#searchform fieldset
{
	text-align: left;
	padding: 0;
	margin: 0.5em 0;
	border: none;
}
#advanced_search dl#search_options
{
	margin: 0 auto;
	width: 450px;
	padding-top: 1em;
	overflow: hidden;
}
#advanced_search dt
{
	clear: both;
	float: left;
	padding: 0.2em;
	text-align: right;
	width: 20%;
}
#advanced_search dd
{
	width: 75%;
	float: left;
	padding: 0.2em;
	margin: 0 0 0 0.5em;
	text-align: left;
}
#searchform p.clear
{
	clear: both;
}

/* Boards picker */
#searchform fieldset ul#searchBoardsExpand
{
	overflow: hidden;
	padding: 0.3em 1em;
}
#searchform fieldset ul#searchBoardsExpand li.category
{
	font-weight: bold;
	width: 49%;
	float: left;
	overflow: hidden;
	padding: 0.2em 0;
	margin: 0;
}
#searchform fieldset ul#searchBoardsExpand li.board
{
	font-weight: normal;
}
#searchform fieldset p
{
	padding: 4px;
	text-align: left;
	margin-top: 5px;
}

/* Search results */
#search_results form
{
	padding: 1em;
}
.pagelinks
{
	padding: 0.5em;
}
.topic_table td blockquote, .topic_table td .quoteheader
{
	margin: 0.5em;
}
.search_results_posts
{
	overflow: hidden;
}
.search_results_posts  .inner
{
	padding: 0.5em 1em;
	overflow: hidden;
}
.search_results_posts .windowbg2
{
	margin-top: 4px;
}
.search_results_posts .buttons
{
	padding: 5px 1em 0 0;
}