/* ************************************* */
/* styles from Search.template           */
/* ************************************* */
#search_error
{
	font-style: italic;
	padding: 0.3em 1em;
}
#searchform, #simple_search p 
{
	padding: 0.5em;
	margin: 0;
}
#simple_search, #advanced_search
{
	text-align: center;
	padding-top: 1em;
}
#advanced_search dl
{
	margin: auto;
	width: 500px;
}
#advanced_search dt
{
	padding: 0.2em;
	text-align: right;
	width: 20%;
	float: left;
	line-height: 1.4em;
}
#advanced_search dt.options
{
	padding-bottom: 4em;
}
#advanced_search dd
{
	padding: 0.2em;
	text-align: left;
	line-height: 1.4em;
}
#advanced_search dd.options
{
	padding-bottom: 3em;
}
dl#search_options
{
	padding-top: 1em;
}
span.enhanced
{
	font-size: 115%;
	display: block;
}
fieldset
{
	text-align: left;
	padding: 0;
	border: none;
	margin: 1em 0 0 0;
}
fieldset ul
{
	overflow: hidden;
	padding: 5px;
}
fieldset ul li
{
	float: left;
	width: 32%;
}
fieldset h5
{
	padding: 10px 4px;
}
fieldset h5 a
{
	text-decoration: none;
}
fieldset p
{
	padding: 4px;
	text-align: center;
	margin-top: 5px;
}
#searchBoardsExpand
{
	padding: 0.3em 1em;
}
#search_results form
{
	padding: 1em;
}
.pagelinks
{
	padding: 0.5em;
}
.topic_table td blockquote, .topic_table td .quoteheader
{
	margin: 0.5em;
}
.search_results_posts
{
	overflow: hidden;
}
.search_results_posts  .inner
{
	padding: 0.5em 1em;
	overflow: hidden;
}
.search_results_posts .windowbg2
{
	margin-top: 4px;
}
.search_results_posts .buttons
{
	padding: 5px 1em 0 0;
}
