h4.titlebg
{
	text-align: center;
	margin-bottom: 5px;
}
#statistics
{
	padding-bottom: 0.5em;
}
#stats_left, #top_posters, #top_topics_replies,#top_topics_starter
{
	float:left;
	width: 49.5%;
}
#stats_right, #top_boards, #top_topics_views, #most_online
{
	float: right;
	width: 49.5%;
}
dl.stats
{
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
dl.stats dt
{
	width: 50%;
	float: left;
	margin: 0 0 4px 0;
	line-height: 16px;
	padding: 0;
	clear: both;
	font-size: 1em;
}
dl.stats dd
{
	text-align: right;
	width: 49%;
	font-size: 1em;
	float: right;
	margin: 0 0 4px 0;
	line-height: 16px;
	padding: 0;
	*float: none;
	*width: auto;
}
dd.statsbar span.left
{
	float: left;
	background: url(../images/bar_stats.png) no-repeat;
	display: block;
	width: 6px;
	height: 16px;
}
dd.statsbar span.right
{
	float: left;
	background: url(../images/bar_stats.png) no-repeat 100%;
	width: 6px;
	height: 16px;
}
.stats_bar
{
	float: left;
	background-image: url(../images/bar_stats.png);
	height: 16px;
	font-size: 0.9em;
	display: block;
	text-align: left;
	color: white;
	font-weight: bold;
	background-position: top center;
}
.stats_bar span
{
	padding-left: 2px;
}
.content
{
	min-height: 8em;
}