/* ************************************* */
/* styles from Who.template              */
/* ************************************* */

#whos_online
{
	overflow: hidden;
}

.members_list
{
	overflow: hidden;
	margin-bottom: 1em;
}

span.member.hidden
{
	font-style: italic;
}

span.contact_info
{
	float: right;
	width: 14ex;
}

.margin_lower
{
	margin: 0 0 0.5em 0;
}

#credits p
{
	margin: 0 1em;
}

#credits p.posttext
{
	margin-top: 1em;
}

#credits dl
{
	margin: 0 1em;
}

#credits dt
{
	font-weight: bold;
}
