/* This is the IFRAME that holds the editor. */
.rich_editor_frame
{
	border: 1px solid #808080;
}

/* This is the WYSIWYG editor */
.rich_editor
{
	background-color: white;
	color: black;
	font-family: verdana;
	font-size: x-small;
	border: none;
}

.rich_editor p
{
	margin: 0px;
}