/* The dropdown menus
------------------------------------------------------- */

.dropmenu
{
	height: 1%;
}
.dropmenu li
{
	width: 1px;
}
.dropmenu li a span
{
	white-space: nowrap;
}
.dropmenu li a:hover
{
	text-decoration: none;
}

/* the page section*/
.pagesecttion 
{
	overflow: auto;
}
/* the user section needs some attention */
#main_menu
{
    width: 98%;
}
#top_section
{
    height: 65px;
}

/* the tabled definition lists */
dl.settings dd, #creator dd, dl.stats dd, dl.register_form dd
{
	float: none;
	width: auto;
}

/* Overrides for the message index template
------------------------------------------------------- */
#messageindex table
{
	margin-top: 5px;
}
#messageindex table th
{
	border-bottom: solid 1px white;
}
.description
{
	padding: 2em 1em 1em 1em;
	overflow: auto;
}

/* Overrides for the display template
------------------------------------------------------- */
#forumposts .postarea
{
	margin-left: 0px;
	float: right;
}
#forumposts .postarea .post
{
	float: none;
	margin-top: 10px;
}
.buttonlist ul li
{
	width: 1%;
	white-space: nowrap;
}
#forumposts .buttonlist ul
{
	clear: right;
	height: 1%;
}
#forumposts h3.catbg
{
	margin-top: 8px;
	clear: both;
}
.signature
{
	padding: 0 0 0.8em 0;
}

/* Overrides for the admin template
------------------------------------------------------- */
#main_admsection
{
	height: 655px;
}
#main_admsection table
{
	width: 99%;
}
