/* special styles for IE7 */
/* the hover effects */
.dropmenu li:hover, .dropmenu li.hover 
{  
	position: static;  
}  
/*  the tabled definition lists */
dl.settings dd, #creator dd, dl.stats dd, dl.register_form dd
{
	float: none;
	width: auto;
}
/* **************** */
/* from MessageIndex.template */
/* **************** */
#messageindex table
{
	margin-top: 5px;
}
#messageindex table th
{
	border-bottom: solid 1px white;
}
.description
{
	padding: 2em 1em 1em 1em;
	overflow: auto;
}

/* **************** */
/* from Display.template */
/* **************** */
#forumposts .postarea .post
{
	padding-top: 1em;
	float: none;
}
#content_section #forumposts h3.catbg
{
	margin-top: 8px;
	clear: both;
}
#content_section .pagesection
{
	height: 1%;
}

.signature
{
	padding: 0 0 0.8em 0;
}