/* ************************************* */
/* styles from Memberlist.template       */
/* ************************************* */
.mlistbuttons
{
	clear: both;
	width: 100%;
}
.mlistbuttons .buttonlist_bottom
{
	margin-right: 1em;
	float: right;
}
#mlist
{
    margin-bottom: 3px;
} 
#mlist_search
{
	margin: auto;
	width: 500px;
}
#mlist_search span span
{
	margin: 0 8px 0 8px;
}
.enhanced
{
	text-align: center;
	display: block;
	margin-bottom: 8px 0;
}