/* Package browsing styles */

#package_list .tborder
{
	margin: .25em 0 .25em 26px;
}
#package_list ol, #package_list ol li
{
	list-style: decimal;
	margin-left: 50px;
	border: none;
}
#package_list ol ul, #package_list ol ul li
{
	margin-left: 0;
	list-style: none;
}
#package_list
{
	list-style-type: none;
}
#package_list li
{
	border: 1px solid #cacdd3;
	padding: 0.2em;
	margin: 1px;
}
.information
{
	max-height: 15em;
	overflow: auto;
	padding-bottom: .5em;
}
.package_section
{
	border: 1px solid #cacdd3;
}
ul.packages li
{
	border: none !important;
	list-style-type: none;
}